{
 :paths ["src" "resources" "target"]
 :deps {org.clojure/clojure               {:mvn/version "1.12.0"}
        ring/ring-core                    {:mvn/version "1.13.0"}
        ring/ring-jetty-adapter           {:mvn/version "1.13.0"}
        ring/ring-defaults                {:mvn/version "0.5.0"}
        metosin/reitit                    {:mvn/version "0.7.2"}
        metosin/reitit-swagger            {:mvn/version "0.8.0"}
        prismatic/schema                  {:mvn/version "1.4.1"}
        
        ;org.ring-clojure/ring-websocket-async {:mvn/version "0.2.0"}
        ;org.ring-clojure/ring-websocket-transit {:mvn/version "0.1.0"}
        ;org.ring-clojure/ring-websocket-middleware {:mvn/version "0.2.1"}

        org.apache.logging.log4j/log4j-core {:mvn/version "2.24.3"}
        org.apache.logging.log4j/log4j-api  {:mvn/version "2.24.3"}
        org.apache.logging.log4j/log4j-slf4j2-impl {:mvn/version "2.24.3"}
        org.clojure/tools.logging           {:mvn/version "1.3.0"}
        ;org.slf4j/slf4j-simple {:mvn/version "2.0.13"}

        integrant/integrant                 {:mvn/version "0.13.1"}

        org.clojure/clojurescript           {:mvn/version "1.11.132"}
        reagent/reagent                     {:mvn/version "1.3.0"}
        cljsjs/react                        {:mvn/version "18.3.1-1"}
        cljsjs/react-dom                    {:mvn/version "18.3.1-1"}
        ;haslett/haslett {:mvn/version "0.2.0"}
        }
 :aliases {:dev {:extra-paths ["test" "dev" "dev-resources"]
                 :extra-deps {integrant/repl            {:mvn/version "0.4.0"}
                              com.bhauman/figwheel-main {:mvn/version "0.2.20"}
                              no.cjohansen/portfolio    {:mvn/version "2025.01.28"}
                              metosin/reitit-swagger-ui {:mvn/version "0.8.0"}
                              }
                 :jvm-opts ["-XX:-OmitStackTraceInFastThrow"]}
           :logging {:jvm-opts ["-Dclojure.tools.logging.factory=clojure.tools.logging.impl/log4j2-factory"]}
           }
}